@page "/candidate/edit/{userId}"
<PageTitle>Candidate/Edit</PageTitle>

<MudItem sm="12" md="8" Style="max-width:1100px">
    <MudText Typo="Typo.h5" Align="Align.Center">Profile</MudText>
    <MudGrid>
        <MudItem sm="6">
            @if (!string.IsNullOrEmpty(profileImgUrl))
            {
                <MudImage Elevation="10" Src="@profileImgUrl" Height="250" ObjectPosition="ObjectPosition.Center" />
                <InputFile class="form-control" OnChange="OnImageChange" accept="image/png, image/jpeg, image/gif" />
            }
        </MudItem>
        @if (!string.IsNullOrEmpty(imgUrl))
        {
            <MudItem sm="6">
                <MudImage Elevation="10" Src="@imgUrl" Height="250" ObjectPosition="ObjectPosition.Center" />
                <MudButtonGroup OverrideStyles=false>
                    <MudTooltip Text="Delete">
                        <MudIconButton OnClick="DeleteImage" Variant="Variant.Filled" Icon="@Icons.Material.Outlined.Delete" Color="Color.Warning"></MudIconButton>
                    </MudTooltip>
                    <MudIconButton OnClick="Upload" Variant="Variant.Filled" Icon="@Icons.Material.Outlined.Upload" Color="Color.Primary" Disabled="@isDisabled"></MudIconButton>
                </MudButtonGroup>
            </MudItem>
        }
    </MudGrid>

</MudItem>
<MudItem md="6">

    <MudCard>
        @if (candidateDto != null)
        {

            <MudCardContent>
                <EditForm Model="@candidateDto" OnValidSubmit="OnSubmit">
                    <DataAnnotationsValidator></DataAnnotationsValidator>
                    @if (ShowAuthError)
                    {
                        <MudAlert AlertTextPosition="AlertTextPosition.Center" CloseIconClicked="HideError" Severity="Severity.Error">
                            <p>@Error</p>
                        </MudAlert>
                    }
                    <MudTextField Variant="Variant.Outlined" @bind-Value="candidateDto.FirstName" Label="First name" For="@(()=>candidateDto.FirstName)" />
                    <MudTextField Variant="Variant.Outlined" @bind-Value="candidateDto.FatherName" Label="Father name" For="@(()=>candidateDto.FatherName)" />

                    <MudSelect Variant="Variant.Outlined" Strict @bind-Value="candidateDto.CountryId" Label="Country" For="@(()=>candidateDto.CountryId)">
                        @if (countries != null)
                        {
                            foreach (var country in countries)
                            {
                                <MudSelectItem Value=@country.Id>@country.Name</MudSelectItem>
                            }
                        }
                    </MudSelect>

                    <MudTextField Variant="Variant.Outlined" @bind-Value="candidateDto.MobilePhone" Label="Mobile phone" For="@(()=>candidateDto.MobilePhone)" />
                    <MudCheckBox @bind-Checked="candidateDto.ShowPhone" Label="Show phone number" For="@(()=>candidateDto.ShowPhone)" />

                    <MudSelect Variant="Variant.Outlined" Strict @bind-Value="candidateDto.Gender" Label="Gender" For="@(()=>candidateDto.Gender)">
                        @foreach (Gender gender in Enum.GetValues(typeof(Gender)))
                        {
                            <MudSelectItem Value=@gender>@gender</MudSelectItem>
                        }
                    </MudSelect>
                    <MudTextField Variant="Variant.Outlined" @bind-Value="candidateDto.DoBirth" Label="Date of birth" For="@(()=>candidateDto.DoBirth)" />
                    <MudCheckBox @bind-Checked="candidateDto.ShowDoBirth" Label="Show date of birth" For="@(()=>candidateDto.ShowDoBirth)" />
                    <MudTextField Variant="Variant.Outlined" @bind-Value="candidateDto.Address" Label="Address" For="@(()=>candidateDto.Address)" />
                    <div>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit">Submit</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="Cancel">Cancel</MudButton>
                    </div>
                </EditForm>
                <MudDivider DividerType="DividerType.Middle"  />
                <MudCard Elevation="5">
                    <MudCardHeader>
                            <InputFile class="form-control" OnChange="OnFileChange" accept=".pdf" />
                    </MudCardHeader>
                        @if (!string.IsNullOrEmpty(fileUrl))
                        {
                            <MudCardContent>
                                <div style="text-align:center">
                                    <MudElement Style="align-content:center" HtmlTag="embed" src="@fileUrl" type="application/pdf"
                                         width="500" height="678" />
                                </div>
                            </MudCardContent>
                            <MudButtonGroup OverrideStyles=false>
                                <MudTooltip Text="Delete">
                                <MudIconButton OnClick="DeleteFileData" Variant="Variant.Filled" Icon="@Icons.Material.Outlined.Delete" Color="Color.Warning"></MudIconButton>
                                </MudTooltip>
                            <MudIconButton OnClick="UploadResume" Variant="Variant.Filled" Icon="@Icons.Material.Outlined.Upload" Color="Color.Primary" Disabled="@isDisabled"></MudIconButton>
                            </MudButtonGroup>
                        }
                </MudCard>
            </MudCardContent>
        }
    </MudCard>
</MudItem>