@page "/employeer/edit/{userId}"
<PageTitle>Employeer/Edit</PageTitle>

<MudItem sm="12" md="8" Style="max-width:1100px">
    <MudText Typo="Typo.h5" Align="Align.Center">Profile</MudText>
    <MudGrid>
        <MudItem sm="6">
            @if (!string.IsNullOrEmpty(profileStringData))
            {
                <MudText Typo="Typo.h6" Align="Align.Center">User image</MudText>
                <MudImage Elevation="10" Src="@profileStringData" Height="250" ObjectPosition="ObjectPosition.Center" />
                <InputFile class="form-control" OnChange="OnProfileChange" accept="image/png, image/jpeg, image/gif" />
            }
        </MudItem>
        @if (!string.IsNullOrEmpty(profileStringUrl))
        {
            <MudItem sm="6">
                <MudImage Elevation="10" Src="@profileStringUrl" Height="250" ObjectPosition="ObjectPosition.Center" />
                <MudButtonGroup OverrideStyles=false>
                    <MudTooltip Text="Delete">
                        <MudIconButton OnClick="DeleteSelected" Variant="Variant.Filled" Icon="@Icons.Material.Outlined.Delete" Color="Color.Warning"></MudIconButton>
                    </MudTooltip>
                    <MudIconButton OnClick="UploadProfile" Variant="Variant.Filled" Icon="@Icons.Material.Outlined.Upload" Color="Color.Primary" Disabled="@isDisabled"></MudIconButton>
                </MudButtonGroup>
            </MudItem>
        }
    </MudGrid>
</MudItem>

<MudItem sm="12" md="8" Style="max-width:1100px">
    <MudGrid>
        <MudItem sm="6">
            @if (!string.IsNullOrEmpty(logoStringData))
            {
                <MudText Typo="Typo.h6" Align="Align.Center">Company logo</MudText>
                <MudImage Elevation="10" Src="@logoStringData" Height="250" ObjectPosition="ObjectPosition.Center" />
                <InputFile class="form-control" OnChange="OnLogoChange" accept="image/png, image/jpeg, image/gif" />
            }
        </MudItem>
        @if (!string.IsNullOrEmpty(logoStringUrl))
        {
            <MudItem sm="6">
                <MudImage Elevation="10" Src="@logoStringUrl" Height="250" ObjectPosition="ObjectPosition.Center" />
                <MudButtonGroup OverrideStyles=false>
                    <MudTooltip Text="Delete">
                        <MudIconButton OnClick="DeleteSelected" Variant="Variant.Filled" Icon="@Icons.Material.Outlined.Delete" Color="Color.Warning"></MudIconButton>
                    </MudTooltip>
                    <MudIconButton OnClick="UploadLogo" Variant="Variant.Filled" Icon="@Icons.Material.Outlined.Upload" Color="Color.Primary" Disabled="@isDisabled"></MudIconButton>
                </MudButtonGroup>
            </MudItem>
        }
    </MudGrid>
</MudItem>
<MudItem md="8">
    <MudCard>
        <MudCardHeader>
            <CardHeaderContent>Company</CardHeaderContent>
        </MudCardHeader>
        @if (companyDto != null)
        {
            <MudCardContent>
                <EditForm Model="@companyDto" OnValidSubmit="OnSubmit">
                    <DataAnnotationsValidator></DataAnnotationsValidator>
                    @if (ShowAuthError)
                    {
                        <MudAlert AlertTextPosition="AlertTextPosition.Center" CloseIconClicked="HideError" Severity="Severity.Error">
                            <p>@Error</p>
                        </MudAlert>
                    }
                    <MudTextField Variant="Variant.Outlined" @bind-Value="companyDto.CompanyName" Label="Company name" For="@(()=>companyDto.CompanyName)" />
                    <MudTextField Variant="Variant.Outlined" @bind-Value="companyDto.CompanyPhone" Label="Company phone" For="@(()=>companyDto.CompanyPhone)" />

                    <MudSelect Variant="Variant.Outlined" Strict @bind-Value="companyDto.CountryId" Label="Country" For="@(()=>companyDto.CountryId)">
                        @if (countries != null)
                        {
                            foreach (var country in countries)
                            {
                                <MudSelectItem Value=@country.Id>@country.Name</MudSelectItem>
                            }
                        }
                    </MudSelect>

                    <MudTextField Variant="Variant.Outlined" @bind-Value="companyDto.ContactName" Label="Contact person" For="@(()=>companyDto.ContactName)" />
                    <MudTextField Variant="Variant.Outlined" @bind-Value="companyDto.ContactPhone" Label="Contact phone number" For="@(()=>companyDto.ContactPhone)" />

                    <MudSelect Variant="Variant.Outlined" Strict @bind-Value="companyDto.DomainId" Label="Domain" For="@(()=>companyDto.DomainId)">
                        @if (domains != null)
                        {
                            foreach (var domain in domains)
                            {
                                <MudSelectItem Value=@domain.Id>@domain.Name</MudSelectItem>
                            }
                        }
                    </MudSelect>
                    <MudTextField Variant="Variant.Outlined" @bind-Value="companyDto.CompanyTin" Label="Company TIN" For="@(()=>companyDto.CompanyTin)" />
                    <MudTextField Variant="Variant.Outlined" @bind-Value="companyDto.Address" Label="Address" For="@(()=>companyDto.Address)" />
                    <div>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit">Submit</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="Cancel">Cancel</MudButton>
                    </div>
                </EditForm>
            </MudCardContent>
        }
    </MudCard>
</MudItem>