<MudCard>
    <MudCardHeader>
        <CardHeaderContent>Candidate registration</CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <EditForm Model="@registerDto" OnValidSubmit="OnSubmit">
            <DataAnnotationsValidator></DataAnnotationsValidator>
             @if (ShowAuthError)
            {
                <MudAlert AlertTextPosition="AlertTextPosition.Center" CloseIconClicked="HideError" Severity="Severity.Error">
                    <p>@Error</p>
                </MudAlert>
            }
            <MudTextField Variant="Variant.Outlined" @bind-Value="registerDto.Email" Label="Enter email"
            For="@(()=>registerDto.Email)" />
            <MudTextField Variant="Variant.Outlined" InputType="InputType.Password" 
            @bind-Value="registerDto.Password" Label="Enter password" For="@(()=>registerDto.Password)" />
            <MudTextField Variant="Variant.Outlined" InputType="InputType.Password" 
            @bind-Value="registerDto.ConfirmPassword" Label="Confirm password" For="@(()=>registerDto.ConfirmPassword)" />
            <div>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit">Submit</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Secondary" Link="auth/login">Log in</MudButton>
            </div>
        </EditForm>
    </MudCardContent>
</MudCard>
